#map {        
  position: relative;
  top: 50px;
  left: 0;
  max-width: 800px;
  max-height: 800px;
}
#map path {
  fill:#86AAE0;
  stroke:#FFFFFF;
  stroke-width:0.6;
  transition: fill 0.2s, stroke 0.3s;
}
#map path:hover {
  fill: red;
  stroke: red;
}
#map .separator {
  stroke: #ccc;
  fill: none;
  stroke-width:1.5;
}
#map .separator:hover {
  stroke: #ccc;
  fill: none;
}

.margTop {
  margin-top: 50px;
}

@media only screen and (min-width: 850px){
  .thumbnail {
    float: left;
    display: block;
    width: 45%;
    padding: 4px;
    margin: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
}

a {
  cursor: pointer;
}

.btnMeteo {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100px;
  z-index: 99999;
  font-size: 24px;
}

.btnTop {
  position: relative;
  left: 15px;
  z-index: 99999;
}

.clearfix {
  height: 50px;
  width: 100%
}

.meteoGeo {
  margin: auto;
  position: absolute;
  width: auto;
  height: 50px;
  top: 0;
  right: 0;
  text-align: end;
}

.tmp {
  position: relative;
  top: -15px;
  margin: 0;
  text-align: start;
}

.test {
  width: 20%;
  margin: 0;
  float: left;
  text-align: center;
}

.explication {
  position: absolute;
  top: 100px;
  left: 15px;
  z-index: 99999;
}

.back{
  background-color: orange;
}